.SearchInput {
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.InfoSection {
    margin: auto;
    width: 30%;
    margin: 5px;
    padding: 10px;
    text-align: center;
    border: black;
}

@media only screen and (max-width: 600px) {
    .InfoSection {
        width: 90%;
    }
  }
