.NavbarImage {
    padding: 0px 0px 0px 0px;
}

.NavbarBrand {
    font-family: 'Rubik';
    font-size: 1.25rem;
    padding: 0px 0px 0px 0px;
}

.Navbar {
    /* padding-bottom: 50px; */
    font-family: 'Rubik';
}