
@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto/Roboto-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('/fonts/Roboto/Roboto-Bold.ttf');
    font-weight: 400;
    font-style: bold;
}
  
@font-face {
    font-family: 'Roboto Mono';
    src: url('/fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Light';
    src: url('/fonts/Roboto/Roboto-Light.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Thin';
    src: url('/fonts/Roboto/Roboto-Thin.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Rowdies';
    src: url('/fonts/Rowdies/Rowdies-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: 'Roboto';
    font-size: 1.1em;
    margin: 0 auto;
}

p, li {
    font-family: 'Roboto';
    font-size: 1.1em;
}

h1 {
    font-size: 1.8em;
    font-family: 'Rowdies';
}

h2 {
    font-size: 1.6em;
    font-family: 'Roboto';
}

h3 {
    font-size: 1.4em;
    font-family: 'Roboto-Light';
}

h4 {
    font-size: 1.2em;
    font-family: 'Roboto-Thin';
}

code {
    font-family: 'Roboto Mono', monospace;
    font-size: 1em;
}

.post-wrapper {
    margin: auto;
    max-width: 900px;
    padding: 15px;
}

.container-fluid {
    padding: 2px 6px 2px 6px
}

.post-title {
    margin-left: 10px;
}

.captioned-img {
    padding: 30px 0px 0px 0px;
    margin: 0 auto;
    max-width: 100%;
}

figcaption {
    background-color: #222;
    color: #fff;
    /* font: italic smaller sans-serif;
    padding: 3px; */
    text-align: center;
}

html,
main,
body,
p,
div {
    background-color: #f8f7f2;
}